@import "tailwindcss";

/* Fix overscroll background color */
html,
body {
  background-color: white;
  transition: background-color 0.2s ease;
}

html.dark,
body.dark {
  background-color: #18181b; /* zinc-900 */
}

/* Hide scrollbar for navigation */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
